@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './variables.css';
@import './tailwind.css';
@import './utilities.css';
@import './typography.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}
