@import 'tailwindcss';
@import './variables.css';

@import './tailwind.css';
@import './utilities.css';
@import './typography.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
