@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import './variables.css';
@import './tailwind.css';
@import './utilities.css';
@import './typography.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

.progress-bg {
  background: linear-gradient(
    to right,
    #64748b1f 0%,
    #64748b1f var(--progress, 0%),
    #00000000 var(--progress, 0%),
    #00000000 100%
  );
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
