:root {
  --satoshi-display: 5.625rem;
  --satoshi-display--line-height: 6.125rem;
  --satoshi-display--letter-spacing: 0em;
  --satoshi-display--font-weight: 700;

  --satoshi-h1: 3rem;
  --satoshi-h1--line-height: 4.125rem;
  --satoshi-h1--letter-spacing: 0em;
  --satoshi-h1--font-weight: 700;

  --satoshi-h2: 2rem;
  --satoshi-h2--line-height: 2.375rem;
  --satoshi-h2--letter-spacing: 0em;
  --satoshi-h2--font-weight: 500;

  --satoshi-h3: 1.5rem;
  --satoshi-h3--line-height: 1.625rem;
  --satoshi-h3--letter-spacing: 0em;
  --satoshi-h3--font-weight: 700;

  --satoshi-h4: 1.125rem;
  --satoshi-h4--line-height: 1.625rem;
  --satoshi-h4--letter-spacing: 0em;
  --satoshi-h4--font-weight: 700;

  --satoshi-body1: 1.125rem;
  --satoshi-body1--line-height: 1.625rem;
  --satoshi-body1--letter-spacing: 0em;
  --satoshi-body1--font-weight: 400;

  --satoshi-body2: 1rem;
  --satoshi-body2--line-height: 1.125rem;
  --satoshi-body2--letter-spacing: 0em;
  --satoshi-body2--font-weight: Regular;

  --satoshi-body3: 0.875rem;
  --satoshi-body3--line-height: 1.025rem;
  --satoshi-body3--letter-spacing: 0em;
  --satoshi-body3--font-weight: Regular;

  --satoshi-caption1: 0.75rem;
  --satoshi-caption1--line-height: 0.875rem;
  --satoshi-caption1--letter-spacing: 0em;
  --satoshi-caption1--font-weight: Light;

  --satoshi-caption2: 0.875rem;
  --satoshi-caption2--line-height: 1.025rem;
  --satoshi-caption2--letter-spacing: 0em;
  --satoshi-caption2--font-weight: Light;

  --satoshi-btn1: 1.125rem;
  --satoshi-btn1--line-height: 1.625rem;
  --satoshi-btn1--letter-spacing: 0em;
  --satoshi-btn1--font-weight: 500;

  --satoshi-btn2: 1rem;
  --satoshi-btn2--line-height: 1.125rem;
  --satoshi-btn2--letter-spacing: 0em;
  --satoshi-btn2--font-weight: 500;

  --satoshi-btn3: 0.875rem;
  --satoshi-btn3--line-height: 1rem;
  --satoshi-btn3--letter-spacing: 0em;
  --satoshi-btn3--font-weight: 500;

  --orbitron-h1: 5.625rem;
  --orbitron-h1--line-height: 6.125rem;
  --orbitron-h1--letter-spacing: 0em;
  --orbitron-h1--font-weight: 700;

  --orbitron-h2: 3rem;
  --orbitron-h2--line-height: 3.375rem;
  --orbitron-h2--letter-spacing: 0em;
  --orbitron-h2--font-weight: 700;

  --orbitron-h3: 2rem;
  --orbitron-h3--line-height: 2.375rem;
  --orbitron-h3--letter-spacing: 0em;
  --orbitron-h3--font-weight: 700;

  --orbitron-h4: 1.5rem;
  --orbitron-h4--line-height: 1.625rem;
  --orbitron-h4--letter-spacing: 0em;
  --orbitron-h4--font-weight: 700;

  --orbitron-h5: 1.125rem;
  --orbitron-h5--line-height: 1.325rem;
  --orbitron-h5--letter-spacing: 0em;
  --orbitron-h5--font-weight: 500;

  --orbitron-body1: 1rem;
  --orbitron-body1--line-height: 1.325rem;
  --orbitron-body1--letter-spacing: 0em;
  --orbitron-body1--font-weight: Semi700;

  --orbitron-body2: 0.875rem;
  --orbitron-body2--line-height: 1rem;
  --orbitron-body2--letter-spacing: 0em;
  --orbitron-body2--font-weight: 700;

  --orbitron-body3: 0.75rem;
  --orbitron-body3--line-height: 0.875rem;
  --orbitron-body3--letter-spacing: 0em;
  --orbitron-body3--font-weight: Regular;
}

*[class*='satoshi-'] {
  font-family: var(--satoshi);
}

*[class*='orbitron-'] {
  font-family: var(--orbitron);
}

.satoshi-display {
  font-weight: var(--satoshi-display--font-weight);
  font-size: var(--satoshi-display);
  letter-spacing: var(--satoshi-display--letter-spacing);
  line-height: var(--satoshi-display--line-height);
}

.satoshi-h1 {
  font-weight: var(--satoshi-h1--font-weight);
  font-size: var(--satoshi-h1);
  letter-spacing: var(--satoshi-h1--letter-spacing);
  line-height: var(--satoshi-h1--line-height);
}

.satoshi-h2 {
  font-weight: var(--satoshi-h2--font-weight);
  font-size: var(--satoshi-h2);
  letter-spacing: var(--satoshi-h2--letter-spacing);
  line-height: var(--satoshi-h2--line-height);
}

.satoshi-h3 {
  font-weight: var(--satoshi-h3--font-weight);
  font-size: var(--satoshi-h3);
  letter-spacing: var(--satoshi-h3--letter-spacing);
  line-height: var(--satoshi-h3--line-height);
}

.satoshi-h4 {
  font-weight: var(--satoshi-h4--font-weight);
  font-size: var(--satoshi-h4);
  letter-spacing: var(--satoshi-h4--letter-spacing);
  line-height: var(--satoshi-h4--line-height);
}

.satoshi-body1 {
  font-weight: var(--satoshi-body1--font-weight);
  font-size: var(--satoshi-body1);
  letter-spacing: var(--satoshi-body1--letter-spacing);
  line-height: var(--satoshi-body1--line-height);
}

.satoshi-body2 {
  font-weight: var(--satoshi-body2--font-weight);
  font-size: var(--satoshi-body2);
  letter-spacing: var(--satoshi-body2--letter-spacing);
  line-height: var(--satoshi-body2--line-height);
}

.satoshi-body3 {
  font-weight: var(--satoshi-body3--font-weight);
  font-size: var(--satoshi-body3);
  letter-spacing: var(--satoshi-body3--letter-spacing);
  line-height: var(--satoshi-body3--line-height);
}

.satoshi-caption1 {
  font-weight: var(--satoshi-caption1--font-weight);
  font-size: var(--satoshi-caption1);
  letter-spacing: var(--satoshi-caption1--letter-spacing);
  line-height: var(--satoshi-caption1--line-height);
}

.satoshi-caption2 {
  font-weight: var(--satoshi-caption2--font-weight);
  font-size: var(--satoshi-caption2);
  letter-spacing: var(--satoshi-caption2--letter-spacing);
  line-height: var(--satoshi-caption2--line-height);
}

.satoshi-btn1 {
  font-weight: var(--satoshi-btn1--font-weight);
  font-size: var(--satoshi-btn1);
  letter-spacing: var(--satoshi-btn1--letter-spacing);
  line-height: var(--satoshi-btn1--line-height);
}

.satoshi-btn2 {
  font-weight: var(--satoshi-btn2--font-weight);
  font-size: var(--satoshi-btn2);
  letter-spacing: var(--satoshi-btn2--letter-spacing);
  line-height: var(--satoshi-btn2--line-height);
}

.satoshi-btn3 {
  font-weight: var(--satoshi-btn3--font-weight);
  font-size: var(--satoshi-btn3);
  letter-spacing: var(--satoshi-btn3--letter-spacing);
  line-height: var(--satoshi-btn3--line-height);
}

.orbitron-h1 {
  font-weight: var(--orbitron-h1--font-weight);
  font-size: var(--orbitron-h1);
  letter-spacing: var(--orbitron-h1--letter-spacing);
  line-height: var(--orbitron-h1--line-height);
}

.orbitron-h2 {
  font-weight: var(--orbitron-h2--font-weight);
  font-size: var(--orbitron-h2);
  letter-spacing: var(--orbitron-h2--letter-spacing);
  line-height: var(--orbitron-h2--line-height);
}

.orbitron-h3 {
  font-weight: var(--orbitron-h3--font-weight);
  font-size: var(--orbitron-h3);
  letter-spacing: var(--orbitron-h3--letter-spacing);
  line-height: var(--orbitron-h3--line-height);
}

.orbitron-h4 {
  font-weight: var(--orbitron-h4--font-weight);
  font-size: var(--orbitron-h4);
  letter-spacing: var(--orbitron-h4--letter-spacing);
  line-height: var(--orbitron-h4--line-height);
}

.orbitron-h5 {
  font-weight: var(--orbitron-h5--font-weight);
  font-size: var(--orbitron-h5);
  letter-spacing: var(--orbitron-h5--letter-spacing);
  line-height: var(--orbitron-h5--line-height);
}

.orbitron-body1 {
  font-weight: var(--orbitron-body1--font-weight);
  font-size: var(--orbitron-body1);
  letter-spacing: var(--orbitron-body1--letter-spacing);
  line-height: var(--orbitron-body1--line-height);
}

.orbitron-body2 {
  font-weight: var(--orbitron-body2--font-weight);
  font-size: var(--orbitron-body2);
  letter-spacing: var(--orbitron-body2--letter-spacing);
  line-height: var(--orbitron-body2--line-height);
}

.orbitron-body3 {
  font-weight: var(--orbitron-body3--font-weight);
  font-size: var(--orbitron-body3);
  letter-spacing: var(--orbitron-body3--letter-spacing);
  line-height: var(--orbitron-body3--line-height);
}
