@layer utilities {
  .corner-only {
    --s: 2rem;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s));
  }
}
