@layer utilities {
  .corner-only {
    --s: 1.5rem;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s));

    @media (max-width: 48rem) {
      --s: 1rem;
    }
  }

  .noise {
    animation: liner var(--hour) linear infinite;
    -webkit-mask: repeating-radial-gradient(
      circle at center,
      #fff,
      var(--lines),
      #fff,
      0,
      #fff0,
      calc(var(--lines) * 2),
      #fff0 0
    );
    mask: repeating-radial-gradient(
      circle at center,
      #fff,
      var(--lines),
      #fff,
      0,
      #fff0,
      calc(var(--lines) * 2),
      #fff0 0
    );

    background: var(--color-green-300);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

@property --lines {
  syntax: '<length>';
  inherits: false;
  initial-value: 0.0001px;
}

@keyframes liner {
  50% {
    --lines: 0.00012px;
  }
}
