@layer utilities {
  .corner-only {
    --s: 1.5rem;
    mask:
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 / calc(100% - var(--s)) calc(100% - var(--s));

    @media (max-width: 48rem) {
      --s: 1rem;
    }
  }

  .noise-effect {
    color: transparent;
    background:
      repeating-radial-gradient(rgba(0, 0, 0, 0.25) 0 0.0001%, var(--green-300) 0 0.0002%) 30% 10% / 40vw 40vw,
      repeating-conic-gradient(rgba(0, 0, 0, 0.25) 0 0.0001%, var(--green-300) 0 0.0002%) 70% 70% / 60vw 60vw;
    background-clip: text;
    -webkit-background-clip: text;
    background-blend-mode: difference;
  }

  .noise {
    animation: liner var(--hour) linear infinite;
    mask: repeating-radial-gradient(
      circle at center,
      #fff,
      var(--lines),
      #fff,
      0,
      #fff0,
      calc(var(--lines) * 2),
      #fff0 0
    );

    /* background-image: linear-gradient(to right in oklch, deeppink, blue); */
    background: var(--color-green-300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@property --lines {
  syntax: '<length>';
  inherits: false;
  initial-value: 0.0001px;
}

@keyframes liner {
  50% {
    --lines: 0.00012px;
  }
}
