:where(html) {
  --duration-instant: 0ms;
  --duration-quick-1: 80ms;
  --duration-quick-2: 120ms;
  --duration-moderate-1: 180ms;
  --duration-moderate-2: 260ms;
  --duration-gentle-1: 320ms;
  --duration-gentle-2: 420ms;
  --animated-element-distance: 0;
  --animated-element-width: 0;
  --animated-element-height: 0;
  --duration-calculated: calc(
    (
        var(--animated-element-distance, 0) * 0.5 + var(--animated-element-width, 0) * 0.35 +
          var(--animated-element-height, 0) * 0.3
      ) *
      1ms
  );
  --minute: 60s;
  --hour: calc(var(--minute) * 60);
  --day: calc(var(--hour) * 24);
  --week: calc(var(--day) * 7);
  --fortnight: calc(var(--day) * 14);
  --month: calc(var(--day) * 30);
  --quarter: calc(var(--week) * 13);
  --year: calc(var(--day) * 365);
  --leap-year: calc(var(--day) * 366);
  --olympiad: calc(var(--year) * 4);
  --decade: calc(var(--year) * 10);
  --generation: calc(var(--decade) * 3);
  --lifetime: calc(var(--decade) * 8);
  --work-day: calc(var(--hour) * 8);
  --work-week: calc(var(--day) * 5);
  --blink: 0.1s;
  --flinch: 0.3s --sneeze: 0.5s;
  --brief-moment: 15s;
  --pause: 10s;
  --unhealthy-pause: 30s;
  --moment: 90s;
  --kermit: calc(var(--minute) * 14.4);
  --microfortnight: 1.2096s;
  --sidereal-day: calc(var(--hour) * 23 + var(--minute) * 56 + 4.091s);
  --iss-orbit: calc(var(--minute) * 91.5);
  --lunar-month: calc(var(--day) * 29.5);
  --venus-year: calc(var(--day) * 225);
  --sol: 88775s;
  --mars-year: calc(var(--sol) * 668.5907);
  --atom: 0.15957s;
  --ghurry: calc(var(--minute) * 24);
  --lustre: calc(var(--year) * 5);
  --mileway: calc(var(--minute) * 20);
  --nundine: calc(var(--day) * 9);
  --nychthemeron: var(--day);
  --punct: calc(var(--minute) * 15);
  --quadrant: calc(var(--hour) * 6);
  --quinzieme: calc(var(--day) * 15);
  --scruple: calc(var(--minute) * 24);
  --clarke: var(--sidereal-day);
  --wood: calc(var(--clarke) * 0.1);
  --martin: calc(var(--wood) * 0.01);
  --kovac: calc(var(--martin) * 0.01);
  --wolverton: calc(var(--kovac) * 0.001);
  --mingo: calc(var(--clarke) * 10);
  --cowznofski: calc(var(--mingo) * 10);
  --friedman: calc(var(--month) * 6);
  --jiffy: 0.01s;
  --microcentury: calc(var(--minute) * 52 + 35.7s);
  --nanocentury: 3.156s;
  --scaramucci: calc(var(--day) * 11);

  --background: #ffffff;
  --foreground: #1f1f1f;
  --surface: #0a0d14;
  --surface1: #05080f;
  --surface2: #090c15;
  --card: #ffffff;

  --card-foreground: #1f1f1f;
  --popover: #ffffff;
  --popover-foreground: #1f1f1f;
  --primary: #2d2d2d;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #2d2d2d;
  --muted: #f7f7f7;
  --muted-foreground: #757575;
  --accent: #f7f7f7;
  --accent-foreground: #2d2d2d;
  --destructive: #dc4446;
  --border: #e8e8e8;
  --input: #e8e8e8;
  --ring: #a3a3a3;

  --teal-400: #5dd4d4;
  --teal-500: #3dbdbe;
  --teal-600: #228b8d;

  --green-50: #f2fef7;
  --green-100: #e3fdef;
  --green-200: #c4f9dd;
  --green-300: #9ff3c7;
  --green-400: #6eebad;
  --green-500: #3ed995;
  --green-600: #22b478;
  --green-700: #1a8f61;
  --green-800: #17704d;
  --green-900: #155d43;

  --gray-50: #e3e4e5;
  --gray-100: #e3e4e5;
  --gray-200: #e3e4e5;
  --gray-300: #c9cbcd;
  --gray-400: #9ea1a4;
  --gray-500: #77797d;
  --gray-600: #545659;
  --gray-700: #3e4043;
  --gray-800: #2d2f31;
  --gray-900: #1d1f21;

  --tints-green: #181d24;
  --tints-blue: #13151c;
  --tints-magenta: #1a1319;

  --blue-50: #e9eef6;
  --blue-100: #d4ddef;
  --blue-200: #a9bbdf;
  --blue-300: #7d99ce;
  --blue-400: #5277bd;
  --blue-500: #2755ac;
  --blue-600: #1c3e96;
  --blue-700: #162f7f;
  --blue-800: #11266b;
  --blue-900: #0d1e57;

  --magenta-50: #f8e8f4;
  --magenta-100: #f1d0e9;
  --magenta-200: #e3a1d3;
  --magenta-300: #d572bd;
  --magenta-400: #c743a7;
  --magenta-500: #b91491;
  --magenta-600: #990f7b;
  --magenta-700: #7a0c65;
  --magenta-800: #5b094f;
  --magenta-900: #3c0639;

  --indigo-400: #7b85e7;
  --indigo-500: #5461de;
  --indigo-600: #3c47c9;

  --orange-400: #ffc970;
  --orange-500: #ffaa43;
  --orange-600: #d88621;

  --brand: #00c871ff;
  --brand-rgb: 0, 200, 130;
  --dark-card: #090c15;
  --neutral-low: #64748b3d;
  --neutral-low-rgb: 100, 116, 139;

  /* base is 9px */
  --radius: 0.5625rem;
}
