:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --surface: oklch(0.1342 0.0172 262.17);
  --surface: #010204;
  --surface1: #05080f;
  --surface2: #090c15;
  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --teal-400: oklch(81% 0.12 192);
  --teal-500: oklch(72% 0.13 191);
  --teal-600: oklch(56% 0.1 193);

  --green-50: oklch(98% 0.04 164);
  --green-100: oklch(97% 0.08 162);
  --green-200: oklch(93% 0.13 163);
  --green-300: oklch(88% 0.17 161);
  --green-400: oklch(82% 0.18 158);
  --green-500: oklch(73% 0.19 158);
  --green-600: oklch(62% 0.16 159);
  --green-700: oklch(52% 0.13 160);
  --green-800: oklch(42% 0.1 161);
  --green-900: oklch(37% 0.09 162);

  --gray-50: oklch(92% 0.01 249);
  --gray-100: oklch(92% 0.01 249);
  --gray-200: oklch(92% 0.01 249);
  --gray-300: oklch(85% 0.02 249);
  --gray-400: oklch(70% 0.02 249);
  --gray-500: oklch(56% 0.03 249);
  --gray-600: oklch(43% 0.03 249);
  --gray-700: oklch(33% 0.03 249);
  --gray-800: oklch(24% 0.02 249);
  --gray-900: oklch(16% 0.03 249);

  --tints-green: oklch(15% 0.03 227);
  --tints-blue: oklch(11% 0.03 274);
  --tints-magenta: oklch(11% 0.03 321);

  --blue-50: oklch(95% 0.03 275);
  --blue-100: oklch(91% 0.06 275);
  --blue-200: oklch(82% 0.12 275);
  --blue-300: oklch(71% 0.14 274);
  --blue-400: oklch(61% 0.15 274);
  --blue-500: oklch(53% 0.17 274);
  --blue-600: oklch(47% 0.17 274);
  --blue-700: oklch(42% 0.16 274);
  --blue-800: oklch(39% 0.16 274);
  --blue-900: oklch(35% 0.15 274);

  --magenta-50: oklch(95% 0.06 340);
  --magenta-100: oklch(90% 0.12 340);
  --magenta-200: oklch(82% 0.19 340);
  --magenta-300: oklch(74% 0.24 340);
  --magenta-400: oklch(66% 0.27 340);
  --magenta-500: oklch(60% 0.29 340);
  --magenta-600: oklch(53% 0.25 340);
  --magenta-700: oklch(47% 0.22 340);
  --magenta-800: oklch(41% 0.19 340);
  --magenta-900: oklch(33% 0.16 340);

  --indigo-400: oklch(68% 0.19 283);
  --indigo-500: oklch(58% 0.22 283);
  --indigo-600: oklch(51% 0.21 283);

  --orange-400: oklch(80% 0.14 63);
  --orange-500: oklch(72% 0.17 50);
  --orange-600: oklch(60% 0.15 50);

  --brand: var(--color-green-500);

  /* base is 9px */
  --radius: 0.5625rem;
}
